.leaderboard {
    ul {
        margin: 0.12rem 0.12rem 0;
        li {
            display: flex;
            height: 1.48rem;
            padding: 0.24rem 0;
        }
        .leaderboard-num {
            line-height: 1rem;
            font-size: 0.36rem;
            font-weight: bold;
            width: 0.5rem;
        }
        .leaderboard-img {
            position: relative;
            margin-left: 0.1rem;
            .leaderborder-avatar {
                width: 1rem;
                height: 1rem;
                border-radius: 0.5rem;
            }
            .avatar1 {
                border: 1px solid #ffe764;
            }
            .avatar2 {
                border: 1px solid #dedede;
            }
            .avatar3 {
                border: 1px solid #ffad64;
            }
            .leaderborder-crown {
                position: absolute;
                top: -0.2rem;
                left: 0.54rem;
            }
        }
        .leaderboard-name {
            line-height: 1rem;
            color: #999;
            width: 50vw;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-left: 0.2rem;
        }
        .leaderboard-price {
            line-height: 1rem;
            font-weight: bold;
            width: 25vw;
            text-align: right;
        }
    }
}
