* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Segoe UI, Arial, Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    font-weight: 400;
    font-size: 0.28rem;
    background-color: #f7f8fa;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

input {
    &:focus {
        outline: none;
    }
}

@media (min-width: 360px) {
    html {
        font-size: 50px;
    }
}

@media (min-width: 480px) {
    html {
        font-size: 66.67px;
    }
}

@media (min-width: 540px) {
    html {
        font-size: 75px;
    }
}

@media (min-width: 720px) {
    html {
        font-size: 100px;
    }
}

@media (min-width: 1080px) {
    html {
        font-size: 150px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 166.67px;
    }
}

@media (min-width: 1440px) {
    html {
        font-size: 200px;
    }
}

@media (min-width: 1812px) {
    html {
        font-size: 251.67px;
    }
}

@media (min-width: 1920px) {
    html {
        font-size: 266.67px;
    }
}

@media (min-width: 2048px) {
    html {
        font-size: 284.45px;
    }
}

@media (min-width: 2280px) {
    html {
        font-size: 316.67px;
    }
}

@media (min-width: 2340px) {
    html {
        font-size: 325px;
    }
}

@media (min-width: 2560px) {
    html {
        font-size: 355.56px;
    }
}

/* 修改vant样式 */
.van-tabs__line {
    background-color: #fcd000 !important;
}
.van-tab {
    font-size: 0.32rem !important;
}

/* 通用样式 */
.blue {
    color: #4188f7;
}
.color333 {
    color: #333;
}
.color666 {
    color: #666;
}
.color999 {
    color: #999;
}
.colorfff {
    color: #fff;
}
.font12 {
    font-size: 0.24rem;
}
.font14 {
    font-size: 0.28rem;
}
.font16 {
    font-size: 0.32rem;
}
.font18 {
    font-size: 0.36rem;
}
.font20 {
    font-size: 0.4rem;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.tc {
    text-align: center;
}
.no-border {
    border: none !important;
}
.flexsb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    font-size: 0;
}

.clearfix {
    *zoom: 1;
}

/* 业务样式 */
.right {
    background: url("../../static/img/right.png") no-repeat;
    background-size: 100%;
    width: 0.24rem;
    height: 0.24rem;
    margin-left: 0.1rem;
    display: inline-block;
    vertical-align: -0.01rem;
}
.help {
    background: url("../../static/img/help.png") no-repeat;
    background-size: 100%;
    width: 0.26rem;
    height: 0.26rem;
    margin-left: 0.1rem;
    display: inline-block;
    vertical-align: -0.04rem;
}
.border-top {
    height: 0.2rem;
}
.xkd-title {
    font-size: 0.36rem;
    color: #333;
    font-weight: bold;
}
.xkd-label {
    margin-top: 0.36rem;
    border-bottom: 1px solid #f5f5f5;
    .xkd-label-item {
        font-size: 0.28rem;
        margin-bottom: 0.2rem;
        span {
            color: #ff5238;
        }
    }
    .xkd-input {
        font-size: 0.24rem;
        padding-bottom: 0.28rem;
    }
}
.xkd-tab {
    display: flex;
    font-size: 0.36rem;
    color: #999;
    justify-content: center;
    p {
        padding: 0 0.3rem;
    }
    .active {
        color: #030303;
    }
}
.xkd-input-label {
    display: flex;
    width: 100%;
    padding: 0.3rem 0 0.2rem;
    border-bottom: 1px solid #f1f1f1;
    span {
        display: block;
        width: 1.4rem;
        font-size: 0.32rem;
        padding: 0 0.08rem;
        color: #030303;
    }
    .xkd-input {
        width: calc(~"100% - 1.4rem");
    }
    .xkd-input-label-code {
        .blue;
        width: 1.8rem;
        text-align: center;
    }
}
.xkd-input {
    width: 100%;
    border: 0;
    font-size: 0.32rem;
    &:focus {
        outline: none;
    }
    &::-webkit-input-placeholder {
        color: #999;
    }
}
.xkd-textarea {
    width: 100%;
    height: 2.52rem;
    background: #f5f5f5;
    border-radius: 0.08rem;
    border: 0;
    padding: 0.24rem 0.2rem;
    &::-webkit-input-placeholder {
        color: #999;
    }
}
.xkd-btn-primary {
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    color: #f8dfae;
    font-size: 0.32rem;
    border-radius: 4px;
    background: #686461;
}
.xkd-btn-yellow {
    width: 4rem;
    height: 0.72rem;
    line-height: 0.72rem;
    background: #fcd000;
    border-radius: 0.36rem;
    color: #030303;
    text-align: center;
    margin: 0.9rem auto 0;
}
.xkd-btn-download {
    width: 1.4rem;
    height: 0.5rem;
    line-height: 0.5rem;
    background: #fcd000;
    border-radius: 4px;
    color: #030303;
    text-align: center;
    margin: 0.2rem auto 0;
}
.xkd-back {
    text-align: center;
    margin-top: 0.8rem;
    img {
        width: 0.84rem;
        height: 0.84rem;
    }
}
.xkd-scroll-back {
    margin-top: 0.5rem;
    margin-bottom: 0.6rem;
    .xkd-scroll-back-btn {
        text-align: center;
        margin: 0 auto;
        width: 1.64rem;
        height: 0.64rem;
        line-height: 0.64rem;
        border-radius: 0.32rem;
        border: 1px solid #dfdfdf;
        font-size: 0.24rem;
        color: #cfcfcf;
        img {
            display: inline-block;
            width: 0.22rem;
            height: 0.22rem;
            vertical-align: -0.02rem;
        }
    }
}
.xkd-check {
    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    li {
        text-align: center;
        width: 1.56rem;
        height: 0.56rem;
        line-height: 0.56rem;
        background: #f5f5f5;
        border-radius: 0.28rem;
        color: #999;
        margin-bottom: 0.2rem;
    }
    .active {
        background: #fcd000;
        color: #333;
    }
}
.xkd-list {
    ul {
        li {
            height: 0.92rem;
            line-height: 0.92rem;
            border-bottom: 1px solid #f1f1f1;
            font-size: 0.24rem;
            padding: 0 0.26rem;
            &:last-child {
                border: none;
            }
        }
        .right {
            margin-top: 0.34rem;
            float: right;
        }
    }
}
